{% extends 'base.html' %}
{% load static %}
{% block content %}

<ul class="ul_top">

    <li class="li_top title_top" ><a href="/">FitnessApp <i class="fa fa-heartbeat"></i></a></li>

    <li style="float:right">&nbsp;&nbsp;&nbsp;&nbsp;</li>

    <li class="li_top box" style="float:right"><button class="btn-hover color-2"><a href="{% url 'logout' %}">Log out</a></button></li>

<li style="float:right">&nbsp;&nbsp;&nbsp;&nbsp;</li>


</ul>

<ul class= "ul-menu">
<li class = "li-menu"><a class="li-a-menu" href="/">Home</a></li>
<li class = "li-menu"><a class="li-a-menu" href="{% url 'accounts:profile/goals' %}">Health Goals</a></li>
<li class = "li-menu"><a class="li-a-menu" href="{% url 'accounts:profile/energy_analysis' %}">Energy Analysis</a></li>
<li class = "li-menu"><a class="li-a-menu" href="{% url 'accounts:profile/workout' %}">Start a Workout</a></li>
<li class = "li-menu"><a class="li-a-menu" href="">Doctors and Medication</a></li>
<li class = "li-menu"><a class="li-a-menu" href="{% url 'accounts:profile/cycle' %}">Health Cycles</a></li>
</ul>

<style>
    form{
        margin: 20px 20px 20px 20px;
    }

    p{
        margin: 20px 20px 20px 20px;
    }
</style>

<p> Average Calories Intake: {{ intake_data }}</p>
<p> Average Calories Burnt: {{ burnt_data }}</p>
<p> Average Hours Slept: {{ sleep_data }} hours</p>
<p> Average Resting Heart Rate: {{ heart_data }} beats per minute</p>

{{ calorie_graph|safe }}
{{ heart_graph|safe }}
{{ sleep_graph|safe }}

<form action="/accounts/profile/energy_analysis/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn-hover color-5" value="Submit">
</form>

{% endblock %}