{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>STAY FIT!</title>
</head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Lato|Oswald|PT+Sans|Dosis|Hind+Siliguri|Roboto+Mono|Oxygen&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>



<body>


{% block content %}

{% endblock %}

  <footer class="" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 footer-copyright" style="font-family: Dosis;">
          © Madhumitha Nara - All rights reserved
        </div>
      </div>
    </div>
  </footer>
    
</body>