{% extends 'base.html' %}
{% load static %}


{% block content %}

{% if user.is_authenticated %}
  <ul class="ul_top">

  		<li class="li_top title_top" ><a href="/">FitnessApp <i class="fa fa-heartbeat"></i></a></li>

  		<li style="float:right">&nbsp;&nbsp;&nbsp;&nbsp;</li>

  		<li class="li_top box" style="float:right"><button class="btn-hover color-2"><a href="{% url 'logout' %}">Log out</a></button></li>

      <li style="float:right">&nbsp;&nbsp;&nbsp;&nbsp;</li>

	</ul>

  <ul class= "ul-menu">
    <li class = "li-menu"><a class="li-a-menu" href="/">Home</a></li>
    <li class = "li-menu"><a class="li-a-menu" href="{% url 'accounts:profile/goals' %}">Health Goals</a></li>
    <li class = "li-menu"><a class="li-a-menu" href="{% url 'accounts:profile/energy_analysis' %}">Energy Analysis</a></li>
    <li class = "li-menu"><a class="li-a-menu" href="{% url 'accounts:profile/workout' %}">Start a Workout</a></li>
    <li class = "li-menu"><a class="li-a-menu" href="{% url 'accounts:profile/cycle' %}">Health Cycles</a></li>

  </ul>

  <h1 style = "font-family:Dosis;padding: 10px 10px 10px 10px">Welcome {{ user.username }}!</h1>

  <h3> Consider this true story...</h3>
  <p style="font-size: large; font-family: Dosis;">
    Paula Hannah used to come up with any and every excuse to get out of a workout. “The most ridiculous one was that I didn’t want to mess up my hair!” she says. But at 227 pounds and with severe asthma, Paula knew the excuses had to stop.<br/>

Paula joined the fitness center at work, a gym that’s a 20-minute walk from home, and a smaller gym on her bus route. While having to rely on public transit would have stopped her before, this time she was determined to succeed. “I made a vow to myself to do whatever it takes,” she says. “If I travelled by bus to get to the gym, then I was going to do the work!” <br/>

She knew she’d reached a milestone when she lasted an entire spin class. “Friends texted me, one by one, to say they weren’t coming. My instinct was to leave – I don’t like doing things by myself.” Instead, Paula stayed, planning to duck out early. “When the instructor yelled, ’15 minutes left,’ I started to cry. I did it!”<br/>

Before her journey began, she used to tell herself that eating healthy meals was too expensive, but that changed, too. “I looked at the cost of having to shop in the plus size section and compared it with the cost of buying lean meats, fresh vegetables and whole grains,” she says. “It was such simple math!” <br/>

Now 77 pounds lighter, Paula has a new outlook: “I’d take being fit with bad hair over looking flawless and being unhealthy any day,” she says. <br/>

Paula says that writing down her fitness accomplishments helped. “I record the smallest victories, like drinking a gallon of water, lifting a heavier weight or getting to bed on time”. At the end of the month, she goes over her successes. “It reminds me to stay on the right track!”
  
<br/>

<h3>This could be your story. Let's get healthy!</h3>
</p>


  {% else %}

  <header>
      <ul class="ul_top">

  		<li class="li_top title_top" ><a href="/">FitnessApp <i class="fa fa-heartbeat"></i></a></li>

  		<li style="float:right">&nbsp;&nbsp;&nbsp;&nbsp;</li>

  		<li class="li_top box" style="float:right"><button class="btn-hover color-2"><a href="{% url 'login' %}">Login</a></button></li>

      <li style="float:right">&nbsp;&nbsp;&nbsp;&nbsp;</li>

      <li class="li_top box" style="float:right"><button class="btn-hover color-3"><a href="{% url 'accounts:signup' %}">Sign up</a></button></li>

	</ul>
  </header>



  <section>
    <table style="width: 100%">
      <colgroup>
         <col span="1" style="width: 75%;">
         <col span="1" style="width: 25%;">
      </colgroup>
    <tr>
    
      <td><article>
        <h1>What do we do?</h1>
        <p style="font-family: Dosis;">
          Welcome! Congratulations on taking your first step towards a healthier life! FitnessApp is your digital health companion that remembers and helps discovers patterns in your life. You can set goals, keep track of your calories, have a quick workout and have a comprehensive understanding of your sleep and health cycles. And there is more to come!
        </p>
    
        <h1>Be part of the movement!</h1>
        <p style="font-family: Dosis;">
          Staying physically fit helps to strengthen the heart, respiratory and mental functions. Studies have shown a direct link between fitness and brain function. By sticking to a regular fitness program, women in decision-making positions find it easier to perform their jobs and will be able to better deal with the stress.

          Fitness is important for all women, regardless of their occupation. Whether reaching up while stacking shelves or bending down to pick up children, women use large and small muscles throughout their bodies to do every day tasks. Staying physically fit can aid in every moves made throughout the day.
          
          Regular physical activity includes a combination of resistance and cardio exercises. Be sure to mix it up to get maximum results during each workout. Cardio activities raise the heartbeat and help the body to burn calories. Choose activities that you enjoy like walking, jogging, swimming, or cycling, for starters.
          
          Women are busier today than ever and many may think they don’t have time for exercise. 30 minutes of exercise each day is all it takes to stay in shape. You don’t have to spend hours at the gym—just commit to exercising at least 30 minutes a day and reap the full benefits of fitness!
        </p>
    
      <h1>What are you waiting for?</h1>
      <p style="font-family: Dosis;">
        What seems impossible today will be your warm-up tomorrow. Sign in and make a difference!  
      </p>
    <td><a class="twitter-timeline" width="300" height="500" data-theme="dark" href="https://twitter.com/AppbyMadhu/likes?ref_src=twsrc%5Etfw">Tweets Liked by @AppbyMadhu</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></td>
    </tr>
  </table>
    


  
</section>
{% endif %}


{% endblock %}